.card{
    border-radius: 10px;
    background-color: lightgrey;
    margin-bottom: 30px;
    
}

.saved-list{
    border-radius: 15px;
    background-color: lightyellow
}

.deleteBook {
    border-radius: 5px;
    margin-left: 10px;
    background-color: yellow;
    color: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.viewBook {
    border-radius: 5px;
    margin-left: 5px
}